@import "../modules/all";

// Navbar
$navbarBackgroundColor: rgba(255, 255, 255, 0.95);
$navbarBrandTextColor: $gray;
$navbarBrandTextSize: 30px;
$navbarFontSize: 14px;
$navbarHeight: 80px;
$navbarHighlightColor: $blue;
$navbarHoverStroke: 1px;
$navbarLogoHeight: 60px;
$navbarLogoWidth: 47px;
$navbarPaddingHorizontal: 10px;
$navbarStroke: 0px;
$navbarTextColor: $gray;

// Images
$logo: url('../images/proctano_logo.svg');

// Typography
$baseFontFamily: $sansSerifFontFamily;
$baseFontSize: 16px;
$baseLineHeight: 20px;
$baseTextColor: $gray;

// Links
$baseLinkColor: #08c;
$baseLinkHoverColor: darken($baseLinkColor, 15%);
$hoverTransitionTime: 0.2s;
