.content {
  //background: linear-gradient(45deg, #A693BA, #A693BA 50%, #9272B7 50%, #9272B7 100%)
  h1 {
    font-family: 'HattoriHanzoLight';
    font-size: 35px;
    padding: 10px 0px;
    margin-top: 30px;
    margin-bottom: 25px;
  }
  p {
    font-family: 'HattoriHanzoLight';
    line-height: 1.3;
    font-size: 18px;
  }
}

.content header {
  //background-image: url(../images/proctano_pattern.svg);
  //background-color: #F54F29;
  background: linear-gradient(45deg, $blue, $blue 50%, lighten($blue, 4%) 50%, lighten($blue, 4%) 100%)
}

.content-header {
  width: 100%;
  height: 100px;
  display:block;
  color: white;
  padding: 40px 0px;
  font-size: 30px;
  text-align: center;
  font-family: 'HattoriHanzoLight';
  //background: linear-gradient(45deg, #8C6AAD, #8C6AAD 50%, #9272B7 50%, #9272B7 100%)
  //background-image: url(../images/proctano_pattern.svg);
}

.separation {
  height: 20px;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.sep-left {
  background-color: white;
  width: 50%;
  height: 20px;
  position: absolute;
  left: 0%;
  margin-left: -60px;
  &:after {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
    border-bottom: 20px solid white;
    position: absolute;
    right: -60px;
  }
}
.sep-right {
  background-color: white;
  width: 50%;
  height: 20px;
  position: absolute;
  left: 50%;
  margin-left: 60px;
  &:after {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
    border-bottom: 20px solid white;
    position: absolute;
    left: -60px;
  }
}

.text-before {
  height: 20px;
  width: 50%;
  display: block;
  position: absolute;
  min-height: 20px;
}
.test {
  width: 0;
  height: 0;
  border-left: 60px solid transparent;
  border-right: 60px solid transparent;
  border-bottom: 20px solid white;
  position: absolute;
}
