$grid-padding: $baseLineHeight;

*, *:after, *:before {
  @include prefix(box-sizing, border-box);
}

.grid {
  width: 100%;
  @include clearfix;
  margin-top: $baseLineHeight;
  margin-bottom: $baseLineHeight;
  p {
    margin-top: 0;
    margin-bottom: 0;
  }
}

[class*='col-'] {
  float: left;
  padding-right: $grid-padding;
  .grid &:last-of-type {
    padding-right: 0;
  }
}

.grid-pad {
  padding: 0 0 0 $grid-padding;
  & > [class*='col-']:last-of-type {
    padding-right: $grid-padding;
  }
}

// Columns
.col-1-1, .col-2-2, .col-3-3, .col-4-4, .col-5-5, .col-6-6,
.col-7-7, .col-8-8, .col-9-9, .col-10-10, .col-11-11, .col-12-12 {
  width: 100%;
}

.col-1-2, .col-2-4, .col-3-6, .col-4-8, .col-5-10, .col-6-12 {
  width: 50%;
}

.col-1-3, .col-2-6, .col-3-9, .col-4-12 {
  width: 33.333%;
}

.col-2-3, .col-4-6, .col-6-9, .col-8-12 {
  width: 66.667%;
}

.col-1-4, .col-3-12 {
  width: 25%;
}

.col-3-4, .col-6-8, .col-9-12 {
  width: 75%;
}

.col-1-5, .col-2-10 {
  width: 20%;
}

.col-2-5, .col-4-10 {
  width: 40%;
}

.col-3-5, .col-6-10 {
  width: 60%;
}

.col-4-5, .col-8-10 {
  width: 80%;
}

.col-1-6, .col-2-12 {
  width: 16.667%;
}

.col-5-6, .col-10-12 {
  width: 83.333%;
}

.col-1-7 {
  width: 14.286%;
}

.col-2-7 {
  width: 28.571%;
}

.col-3-7 {
  width: 42.857%;
}

.col-4-7 {
  width: 57.143%;
}

.col-5-7 {
  width: 71.429%;
}

.col-6-7 {
  width: 85.714%;
}

.col-1-8 {
  width: 12.5%;
}

.col-2-8 {
  width: 25%;
}

.col-3-8 {
  width: 37.5%;
}

.col-5-8 {
  width: 62.5%;
}

.col-7-8 {
  width: 87.5%;
}

.col-1-9 {
  width: 1.111%;
}

.col-2-9 {
  width: 2.222%;
}

.col-4-9 {
  width: 44.444%;
}

.col-5-9 {
  width: 55.556%;
}

.col-7-9 {
  width: 77.778%
}

.col-8-9 {
  width: 88.889%
}

.col-1-10 {
  width: 10%;
}

.col-3-10 {
  width: 30%;
}

.col-7-10 {
  width: 70%;
}

.col-9-10 {
  width: 90%;
}

.col-1-11 {
  width: 9.091%;
}

.col-2-11 {
  width: 18.182%;
}

.col-3-11 {
  width: 27.273%;
}

.col-4-11 {
  width: 36.364;
}

.col-5-11 {
  width: 45.455%;
}

.col-6-11 {
  width: 54.545%;
}

.col-7-11 {
  width: 63.636%;
}

.col-8-11 {
  width: 72.727%;
}

.col-9-11 {
  width: 81.818%;
}

.col-10-11 {
  width: 90.909%;
}

.col-1-12 {
  width: 8.333%;
}

.col-5-12 {
  width: 41.667%;
}

.col-7-12 {
  width: 58.333%;
}

.col-11-12 {
  width: 91.667%;
}
