.navbar {
  font-size: $navbarFontSize;
  height: $navbarHeight + $navbarStroke;
  ul {
    li {
      float: left;
      height: $navbarHeight;
    }
  }
  @include clearfix;
}

.navbar ul li a {
  display: block;
  color: $navbarTextColor;
  border-bottom: $navbarHoverStroke solid transparent;
  transition: color $hoverTransitionTime;
  transition: border-bottom-color $hoverTransitionTime;
  @include paddingCenterStroke($baseLineHeight, $navbarHeight, $navbarPaddingHorizontal, $navbarHoverStroke);
  &:hover {
    text-decoration: none;
    color: $navbarHoverTextColor;
    border-bottom: $navbarHoverStroke solid $navbarHoverTextColor;
  }
}

.navbar ul li {
  &.logo {
    @include paddingCenter($navbarLogoHeight, $navbarHeight, 0px);
  }
  &.brand {
    @include paddingCenter($baseLineHeight, $navbarHeight, 10px);
  }
  &.logo a {
    background-image: $logoUrl; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: $navbarLogoWidth $navbarLogoHeight;
    width: $navbarLogoWidth;
    height: $navbarLogoHeight;
    display: inline-block;
    padding: 0;
    border-bottom: none;
  }
  &.brand a {
    font-family: 'Sansation Regular';
    font-size: $navbarBrandTextSize;
    color: $navbarBrandTextColor;
    padding: 0;
    position: relative;
    top: -3px;
    transition: color $hoverTransitionTime;
    border-bottom: none;
    &:hover {
      color: $navbarHoverTextColor;
    }
  }
  &.divider {
    cursor: default;
    @include paddingCenterStroke($baseLineHeight, $navbarHeight, $navbarPaddingHorizontal, $navbarHoverStroke);
  }
}

.navbar-header {
  background-color: $navbarBackgroundColor;
  border-top: $navbarStroke solid $navbarStrokeColor;
}

.fixed-top {
  top: 0;
  position: fixed;
  width: 100%;
  height: $navbarHeight + $navbarStroke;
}
