.navbar {
  font-size: $navbarFontSize;
  height: $navbarHeight + $navbarStroke;
  ul {
    li {
      float: left;
      height: $navbarHeight;
      @include paddingCenterHighlight($baseLineHeight, $navbarHeight, $navbarPaddingHorizontal, $navbarHoverStroke);
    }
  }
  @include clearfix;
}

.navbar ul li a {
  display: block;
  color: $navbarTextColor;
  border-bottom: $navbarHoverStroke solid transparent;
  transition: color $hoverTransitionTime ease-in-out, border-bottom-color $hoverTransitionTime ease-in-out;
  &:hover {
    text-decoration: none;
    color: $navbarHighlightColor;
    border-bottom-color: $navbarHighlightColor;
  }
}

.navbar ul li {
  &.logo {
    @include paddingCenter($navbarLogoHeight, $navbarHeight, 0px);
  }
  &.brand {
    @include paddingCenter($baseLineHeight, $navbarHeight, $navbarPaddingHorizontal * 2);
  }
  &.logo a {
    background-image: $logo; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: $navbarLogoWidth;
    height: $navbarLogoHeight;
    display: inline-block;
    padding: 0;
    border-bottom: none;
  }
  &.brand a {
    font-family: 'HattoriHanzoLight';
    font-size: $navbarBrandTextSize;
    color: $navbarBrandTextColor;
    padding: 0;
    position: relative;
    //top: -3px;
    transition: color $hoverTransitionTime;
    border-bottom: none;
    &:hover {
      color: $navbarHighlightColor;
    }
  }
  &.divider {
    cursor: default;
    @include paddingCenter($baseLineHeight, $navbarHeight, $navbarPaddingHorizontal);
    position: relative;
    top: -1px;
  }
}

.navbar-header {
  background-color: $navbarBackgroundColor;
  border-top: $navbarStroke solid $navbarHighlightColor;
  box-shadow: 0 0 5px 1px rgba(0,0,0,0.4);
}

.fixed-top {
  top: 0;
  position: fixed;
  width: 100%;
  height: $navbarHeight + $navbarStroke;
}
