body {
  padding-top: $navbarHeight + $navbarStroke;
}
/*
a {
  color: $baseLinkColor;
  text-decoration: none;
  &:hover, &:focus {
    color: $baseLinkHoverColor;
    text-decoration: underline;
  }
}
  */
