body {
  font-family: $baseFontFamily;
  font-size: $baseFontSize;
  line-height: $baseLineHeight;
}

a {
  color: $baseLinkColor;
  text-decoration: none;
  &:hover, &:focus {
    color: $baseLinkHoverColor;
    text-decoration: underline;
  }
}
