body {
  font-family: $baseFontFamily;
  font-weight: 200;
  font-size: $baseFontSize;
  line-height: $baseLineHeight;
  color: $baseTextColor;
}

p {
  font-size: 1em;
  margin-top: $baseLineHeight;
  margin-bottom: $baseLineHeight;
}

a {
  font-weight: 500;
  color: $baseLinkColor;
  text-decoration: none;
  transition: color $hoverTransitionTime,
              text-decoration $hoverTransitionTime;
  &:hover, &:focus {
    color: $baseLinkHoverColor;
  }
}
h1 {
  font-weight: 700;
  font-size: 2em;
  line-height: $baseLineHeight / 2;
  margin-top: $baseLineHeight / 2;
  margin-bottom: $baseLineHeight/ 2;
  &.light {
    font-weight: 200;
  }
}
h2 {
  font-weight: 600;
  font-size: 1.5em;
  line-height: $baseLineHeight / 1.5;
  margin-top: $baseLineHeight / 1.5;
  margin-bottom: $baseLineHeight / 1.5;
}
h3 {
  font-weight: 500;
  font-size: 1.125em;
  line-height: $baseLineHeight / 1.125;
  margin-top: $baseLineHeight / 1.125;
  margin-bottom: $baseLineHeight / 1.125;
}
