// General
// --------------------------------------------------

// Cross browser prefixes
@mixin prefix($property, $value) {
  -webkit-#{$property}: $value;
  -moz-#{$property}: $value;
  #{$property}: $value;
}

// Clearfix
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin navbarLinkPad($lineHeight, $containerHeight, $stroke, $horizontalPadding) {
  padding: (($containerHeight - $lineHeight) / 2) $horizontalPadding (($containerHeight - $lineHeight) / 2) - $stroke $horizontalPadding;
}

// Adds padding to vertially center the element
@mixin centerPad($lineHeight, $containerHeight, $horizontalPadding) {
  padding: ($containerHeight - $lineHeight) / 2 $horizontalPadding;
}

@mixin diagonalStripeBackground($color, $lighten) {
  background: linear-gradient(
                45deg,
                $color,
                $color 50%,
                lighten($color, $lighten) 50%,
                lighten($color, $lighten) 100%
              );
}

