@font-face {
  font-family: 'SansationRegular';
  src: url('sansation_regular.eot');
  src: url('sansation_regular.eot') format('embedded-opentype'),
  url('sansation_regular.woff') format('woff'),
  url('sansation_regular.ttf') format('truetype'),
  url('sansation_regular.svg#SansationRegular') format('svg');
}
